POSTGRES_USER=beatflow
POSTGRES_PASSWORD=beatflow_password
POSTGRES_DB=beatflow
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=beatflow
RABBITMQ_DEFAULT_PASS=beatflow_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

NGINX_PORT=8080